RewriteEngine On

RewriteRule ^$ http://ifcb-data.whoi.edu/web/dashboard.html [L]
RewriteRule (web/.*) $1 [L]
RewriteRule cache/(.*) spider/cache/$1 [L]
RewriteRule feed.(.*) rss.py?format=$1 [L]
RewriteRule ^(IFCB.*)/mosaic/([a-z0-9]+)\.([a-z]+) mosaic.py?size=$2&format=$3&pid=http://ifcb-data.whoi.edu/$1 [L]
RewriteRule ^(IFCB.*)/head\.([a-z]+) resolve.py?format=$2&detail=head&pid=http://ifcb-data.whoi.edu/$1 [L]
RewriteRule ^(IFCB.*)/full\.([a-z]+) resolve.py?format=$2&detail=full&pid=http://ifcb-data.whoi.edu/$1 [L]
RewriteRule ^(IFCB.*)/short\.([a-z]+) resolve.py?format=$2&detail=short&pid=http://ifcb-data.whoi.edu/$1 [L]
RewriteRule ^(IFCB.*)\.([a-z]+) resolve.py?format=$2&pid=http://ifcb-data.whoi.edu/$1 [L]
RewriteRule ^(IFCB.*) resolve.py?pid=http://ifcb-data.whoi.edu/$1 [L]
