body {
  font-family: sans-serif;
}
.title {
  font-weight: bold;
  margin-bottom: 1em;
}
.properties {
  max-width: 30em;
}
.property {
  clear: both;
  margin: 0.3em;
  word-wrap: break-word;
}
.label {
  font-size: small;
  padding: 0.2em;
  background: lightgray;
}
.value {
  padding: 0.2em;
  margin-bottom: 0.5em;
  border: 0.1em lightgray solid;
  background: white;
}
div.image {
  margin-left: 0.5em;
}
